@import './colors.sass'
@import './fonts.sass'
@import './responsive-media.sass'
@import './slider.sass'

*, *::after, *::before
  box-sizing: border-box
  scroll-behavior: smooth
  transition: background-color 0.6s, color 0.05s

html
  font-size: 16px
  @media screen and (max-width: 992px)
    font-size: 14px
  @media screen and (max-width: 767px)
    font-size: 12px

body
  font-family: 'Roboto', sans-serif
  line-height: 1.5
  background-color: var(--bg-color)
  color: var(--global-font-color)

.main-header
  width: 100%
  background-color: var(--bg-secondary-color)
  padding: 10px 0
  position: fixed
  top: 0
  z-index: 99999

.header
  box-shadow: 0 4px 6px 2px 0 var(--block-shadow-color)
  &-logo-container
    display: block
    user-select: none

  &-logo
    height: 50px

.navlist
  &-item

  &-link
    color: var(--global-font-color)
    text-decoration: none
    font-size: 25px

.main-container
  margin-top: 120px

.review-video
  &-outer
    overflow: hidden
    border-radius: 10px

  &-inner
    transform: scale(1.255)

.button
  padding: 10px 50px
  border: none
  border-radius: 5px
  color: var(--btn-font-color)
  background-color: var(--btn-bg-color)
  font-weight: 500
  font-size: 16px
  letter-spacing: 1px
  text-align: center
  text-transform: capitalize
  text-decoration: none
  user-select: none
  cursor: pointer
  transition: background-color .3s

  &:hover
    background-color: var(--btn-hover-bg-color)

.short-info
  margin-top: 20px

  &-headline
    color: var(--global-font-color)
    font-size: 1.5rem
    line-height: 2.3
    @at-root
      h2#{&}
        font-size: 2rem

  &-description
    color: var(--secondary-font-color)
    letter-spacing: 0.3px
    line-height: 1.5

.general-info-container
  margin-top: 15px

.info-row
  width: 100%
  display: flex
  justify-content: space-between
  border-bottom: 2px solid var(--delimiter-border-color)
  padding: 8px 10px

  & > * + *
    margin-left: 30px

  &-title
    font-weight: bold
    color: var(--secondary-font-color)

  &-description

  &-icon-container
    display: flex
    justify-content: space-evenly

  &-icon
    height: 20px
    object-fit: contain
    user-select: none

    & + &
      padding-left: 12px

.icon
  filter: var(--global-icons-color)

.main-title
  font-size: 3rem
  font-weight: 400

.info-section
  margin-top: 20px

.section-title
  font-size: 2.4rem
  font-weight: 400
  text-align: center

.content-wrapper
  margin-top: 25px

.base-info-column
  position: relative
  padding: 0
  @media screen and (max-width: 767px)
    margin-top: 25px

.poster-container
  @media screen and (max-width: 767px)
    display: none

  > img
    width: 100%
    object-fit: contain
    border-radius: 10px

.get-now-button
  margin-top: 25px

.system-requirements
  &-container
    margin-top: 10px

  &-column
    padding: 17px 10px

    & > h3
      color: var(--secondary-font-color)
      font-weight: bold
      font-size: 1.2rem

    @media screen and (max-width: 767px)
      font-size: 1.1rem
      & > h3
        font-size: 1.3rem


  &-property
    margin-top: 8px

    & > h4
      color: var(--secondary-font-color)
      font-weight: bold

.reviews-container
  margin-top: 10px
  position: relative

.review-card
  flex-basis: 30%
  background-color: var(--bg-secondary-color)
  padding: 20px
  border-radius: 10px
  box-shadow: 2px 2px 8px 0 var(--block-shadow-color)

  &-header
    & > p
      color: var(--secondary-font-color)
      font-weight: bold

.review-segment
  display: flex
  justify-content: space-between
  width: 100%
  padding: 10px 0
  @media screen and (max-width: 768px)
    flex-direction: column
    & > .review-card + .review-card
      margin-top: 20px

.review-controls
  position: absolute
  z-index: 1
  left: calc(-1 * (6% + 3rem))
  right: calc(-1 * (6% + 3rem))
  top: 0
  bottom: 0
  display: flex
  align-items: stretch
  justify-content: space-between
  transition: opacity 0.3s

.make-review-form
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  padding: 25px

.form-text-input
  padding: 10px 15px
  width: 75%
  min-width: 250px
  max-width: 75%
  border-radius: 8px
  background-color: var(--bg-secondary-color)
  border: 1px solid var(--delimiter-border-color)
  font-size: 1.1rem
  color: var(--secondary-font-color)
  resize: none

  &:focus
    border: 1px solid var(--secondary-font-color)

  & + &
    margin-top: 20px

.form-submit-button
  width: 75%
  padding: 10px 15px
  margin-top: 15px
  min-width: 250px

.footer
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  align-items: center
  width: 100%
  margin-top: 50px
  padding: 15px 0
  background-color: var(--bg-secondary-color)
  font-size: 1.5rem

.social-media
  font-size: 2.5rem

  & > a
    color: var(--global-icons-color)
    padding: 0 8px
    outline: none
    text-decoration: none

.theme-switcher
  display: flex
  align-items: center
  justify-content: space-between

  &-checkbox
    opacity: 0
    position: absolute

  &-label
    width: 50px
    height: 26px
    background-color: var(--bg-color)
    display: flex
    border-radius: 50px
    align-items: center
    justify-content: space-between
    padding: 5px
    position: relative
    transform: scale(1.5)

  &-ball
    width: 20px
    height: 20px
    background-color: white
    position: absolute
    top: 2px
    left: 2px
    border-radius: 50%
    transition: transform 0.2s linear

  &-checkbox:checked + .theme-switcher-label .theme-switcher-ball
    transform: translateX(24px)

.fa-moon
  color: var(--change-theme-icon)

.fa-sun
  color: var(--change-theme-icon)
