.dark {
  --global-font-color: #FFF;
  --secondary-font-color: #9C9C9C;
  --bg-color: #1C1C1C;
  --bg-secondary-color: #2a2a2a;
  --rm-bg-color-values: 0, 0, 0;
  --rm-bg-color: rgb(var(--rm-bg-color-values));
  --btn-bg-color: rgb(227, 50, 45);
  --btn-font-color: #FFF;
}

.light {
  --global-font-color: #000;
  --secondary-font-color: #9C9C9C;
  --bg-color: gray;
  --bg-secondary-color: #2a2a2a;
  --rm-bg-color: #000;
  --rm-bg-color: rgb(var(--rm-bg-color-values));
  --btn-bg-color: rgb(227, 50, 45);
  --btn-font-color: #FFF;
}
