@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.dark {
  --global-font-color: #FFF;
  --secondary-font-color: #9C9C9C;
  --bg-color: #1C1C1C;
  --bg-secondary-color: #2a2a2a;
  --rm-bg-color-values: 0, 0, 0;
  --rm-bg-color: rgb(var(--rm-bg-color-values));
  --btn-bg-color: rgb(227, 50, 45);
  --btn-font-color: #FFF;
}

.light {
  --global-font-color: #000;
  --secondary-font-color: #9C9C9C;
  --bg-color: gray;
  --bg-secondary-color: #2a2a2a;
  --rm-bg-color: #000;
  --rm-bg-color: rgb(var(--rm-bg-color-values));
  --btn-bg-color: rgb(227, 50, 45);
  --btn-font-color: #FFF;
}

.rm-outer-wrapper {
  min-width: 25%;
  margin: 0 auto;
  background-color: var(--rm-bg-color);
}

.rm-inner-wrapper, .rm-inner-wrapper-16-9, .rm-inner-wrapper-21-9 {
  position: relative;
}

.rm-inner-wrapper, .rm-inner-wrapper-16-9 {
  padding-top: calc(100% * 9 / 16);
}

.rm-inner-wrapper-21-9 {
  padding-top: calc(100% * 9 / 21);
}

.rm-media {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  width: 100%;
  min-width: 100%;
  -webkit-animation: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
          animation: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -o-object-fit: cover;
     object-fit: cover;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.prev-slide {
  margin-left: -100%;
}

.controls {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control-btn {
  padding: 0 3%;
  color: var(--global-font-color);
  font-size: 3rem;
  font-weight: bold;
  background: rgba(var(--rm-bg-color-values), 0.05);
  border: none;
  outline: none;
  cursor: pointer;
}

.control-btn:hover {
  background: rgba(var(--rm-bg-color-values), 0.3);
}

/*.next-btn
 right: 0
 border-radius: 0.8rem 0 0 0.8rem */
/*.prev-btn
 left: 0
 border-radius: 0 0.8rem 0.8rem 0 */
.leftNext {
  -webkit-animation-name: leftNext;
          animation-name: leftNext;
}

.rightPrev {
  -webkit-animation-name: rightPrev;
          animation-name: rightPrev;
}

@-webkit-keyframes rightPrev {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes rightPrev {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

@-webkit-keyframes leftNext {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: -200%;
  }
}

@keyframes leftNext {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: -200%;
  }
}

.slider-outer {
  border-radius: 15px;
  overflow: hidden;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--global-font-color);
}

.main-header {
  width: 100%;
  background-color: var(--bg-secondary-color);
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 99999;
}

.header-logo-container {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-logo {
  height: 70px;
}

.navlist-link {
  color: var(--global-font-color);
  text-decoration: none;
  font-size: 25px;
}

.main-container {
  margin-top: 200px;
}

.review-video-outer {
  overflow: hidden;
  border-radius: 10px;
}

.review-video-inner {
  -webkit-transform: scale(1.255);
          transform: scale(1.255);
}

.button {
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  color: var(--btn-font-color);
  background-color: var(--btn-bg-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.short-info {
  margin-top: 20px;
}

.short-info-headline {
  color: var(--general-font-color);
  font-size: 1.5rem;
  line-height: 2.3;
}

.short-info-description {
  color: var(--secondary-font-color);
  letter-spacing: 0.3px;
  line-height: 1.5;
}
